<button (click)="displayList()" class="btnList">Afficher la liste</button>

<button (click)="displayRandomBook()" class="btnRandom">Affiche un livre random</button>
<p class="randomBook">{{ randomBooks }}</p>

<div *ngIf="listVisible" class="books">
  <ul class="ulList">
    @for (book of books; track book.titre ) {
      <li>
        <span class="title">
          {{ $index + 1 }}/{{ $count }} {{ book.titre }}
        </span>
        <span class="author">
          {{ book.auteur }}
        </span>
        <span class="release">
          {{ book.annee_publication }}
        </span>
        <span class="genre">
          {{ book.genre }}
        </span>
        <span class="langue">
          {{ book.langue }}
        </span>
        <button (click)="removeBook($index)" class="btnDelete">Supprimer le livre</button>
      </li>
    }
  </ul>
</div>
