.mask {
    display: flex;
    padding: 2px;
}

p {
    margin-left: 5px;
    background-color: aquamarine;
    color: rgb(122, 114, 114);
}

h1 {
    margin-right: 5px;
}

span {
    font-size: 24px;
    font-weight: bold;
}