{{ title }}
<app-super-components />

<p>
    Zippy 1
</p>

<app-zippy titleZippy="Une nouvelle valeur">
    <section>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error odit omnis ducimus libero dolor? Fuga aperiam itaque adipisci. Molestiae repudiandae non praesentium nobis alias dicta. Ea facere qui delectus voluptates.
    </section>
    <ng-container class="footer">
        Footer
    </ng-container>
</app-zippy>
<app-zippy [titleZippy]="title" [isHidden]="true">
</app-zippy>
<p>
    banana 1
</p>
<app-banana-in-abox/>
<p>
    Turc Alert
</p>
<app-truc (trucEmitter)="alertTruc($event)"></app-truc>
<p>
    Turc Console
</p>
<app-truc (trucEmitter)="consoleTruc($event)"></app-truc>

<p>Nombre de clics sur le bouton favori : {{ favoriteClickCount }}</p>

<app-favorite></app-favorite>

<div>
  <h3>Incrémente</h3>
  <app-favorite favoriteText="increment" (favoriteClicked)="favoriteClickCount = favoriteClickCount +1"></app-favorite>
</div>

<div>
  <h3>décrémente</h3>
  <app-favorite favoriteText="decrement" (favoriteClicked)="favoriteClickCount = favoriteClickCount -1"></app-favorite>
</div>

<div>
  <h3>reset</h3>
  <app-favorite favoriteText="reset" (favoriteClicked)="favoriteClickCount = favoriteClickCount = 0"></app-favorite>
</div>
