<p>reactive-forms works!</p>

<h2 class="lol" style="color: gold; border-radius: 5px; width: fit-content; margin-right: 800px;">Reactive Forms</h2>   
<form [formGroup]="signUpForm" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div style="margin-bottom: 15px;">
        <label for="email">
            Entrez votre email
        </label> 
        <!--Dans les réactives forms la property name est remplacé par formControlName, c'est comme ça qu'on fait le lien avec le name dans la property constructor-->
        <input type="text" formControlName="email" id="email">  
    </div>
    
    @if (EmailControl.pending) {
        <div style="text-align: center; margin-bottom: 15px; color: gold; background: silver; border-radius: 4px; padding: 4px;">
            Loading...
        </div>
    }
    
    @if (EmailControl.invalid) {
        <div class="errors" style="text-align: center; margin-bottom: 15px; color: gold; background: silver; border-radius: 4px; padding: 4px;">
           
            
            @if (EmailControl.errors?.['forbiddenExtension']) {
                Les emails avec l'extension {{ EmailControl.errors?.['forbiddenExtension'].actualExtension }}
                ne sont pas autorisés à s'inscrire sur cette application.
            }

            @if (EmailControl.errors?.['uniqueEmail']) {
                Adresse mail déjà utilisé (pas unique)
            }
        </div>
    }
    <div formGroupName="password">
        <div style="margin-bottom: 15px;">
            <label for="password">
                Entrez votre mot de passe
            </label> 
            <!--Dans les réactives forms la property name est remplacé par formControlName, c'est comme ça qu'on fait le lien avec le name dans la property constructor-->
            <!--Attention au nom comme PWD qui devra avoir le même nom partout (voir autres fichiers)-->
            <input type="password" formControlName="pwd" id="password">  
        </div>
        <div style="margin-bottom: 15px;">
            <label for="confirm">
                Confirmez votre mot de passe
            </label> 
            <!--Dans les réactives forms la property name est remplacé par formControlName, c'est comme ça qu'on fait le lien avec le name dans la property constructor-->
            <input type="password" formControlName="confirm" id="confirm">  
        </div>
        @if (passwordControl.invalid) {
            <div class="errors" style="text-align: center; margin-bottom: 15px; color: gold; background: silver; border-radius: 4px; padding: 4px;">
                Mot de passe invalide, veuillez réessayez !
            </div>
        }
    </div>
    <button [disabled]="signUpForm.invalid" type="submit">Envoyez</button>
</form>

<h2 style="color: gold;">Rencontre des Loutres de ta région</h2>
<form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <label for="pseudo" style="margin-bottom: 15px; background-color: silver; color: gold; border-radius: 4px;">Pseudo</label>
        <input required minlength="5" #pseudo="ngModel" ngModel type="text" name="pseudo" id="pseudo" style="width: 200px; margin-bottom: 15px; background: gold; border-radius: 5px;">
    </div>
    
    @if (pseudo.touched && pseudo.invalid) {
        <div class="errors" style="text-align: center; margin-bottom: 15px; color: gold; background: silver; border-radius: 4px; padding: 4px;">
            @if (pseudo.errors?.['required']){
                ceci est un champ obligatoire
            }
            @if (pseudo.errors?.['minlength']){
                Il vous manque {{ pseudo.errors?.['minlength'].requiredLength - pseudo.errors?.['minlength'].actualLength }}
                caractère pour atteindre la longueur minimum !
            }
        </div>
    }

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <label for="pwd" style="margin-bottom: 15px; background-color: silver; color: gold; border-radius: 4px;">Password</label>
        <input required minlength="5" #pwd="ngModel" ngModel type="text" name="pwd" id="pwd" style="width: 200px; margin-bottom: 15px; background: gold; border-radius: 5px;">
    </div>

    @if (pwd.touched && pwd.invalid) {
        <div class="errors" style="text-align: center; margin-bottom: 15px; color: gold; background: silver; border-radius: 4px; padding: 4px;">
            @if (pwd.errors?.['required']){
                ceci est un champ obligatoire
            }
                    @if (passwordControl.invalid) {
            <div class="errors" style="text-align: center; margin-bottom: 15px; color: gold; background: silver; border-radius: 4px; padding: 4px;">
                Mot de passe invalide, veuillez réessayez !
            </div>
        }
        </div>
    }
    <button [disabled]="signUpForm.invalid" type="submit">Envoyez</button>
</form>

