<p>form-book works!</p>

<h2 class="lol" style="color: gold; border-radius: 5px; width: fit-content; margin-right: 800px;">Formulaire de livres</h2>   
<form [formGroup]="signUpForm" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div>
        <label for="title">
            Entrez un titre:
            <input type="text" formControlName="title" id="title">
        </label>
    </div>
    <div>
        <label for="author">
            Entrez un auteur:
            <input type="text" formControlName="author" id="author">
        </label>
    </div>
    <div>
        <label for="publication_year">
            Entrez une date de sortie:
            <input type="text" formControlName="publication_year" id="publication_year">
        </label>
    </div>
    <div>
        <label for="genre">
            Entrez un genre:
            <input type="text" formControlName="genre" id="genre">
        </label>
    </div>
    <div>
        <label for="summary">
            Entrez un synopsis:
            <input type="text" formControlName="summary">
        </label>
    </div>
    <div>
        <label for="is_read">
            Lu ou non lu:
            <input type="text" formControlName="is_read" id="is_read">
        </label>
    </div>

</form>