<button (click)="color === 'blue' ? color = 'red' : color = 'blue'" style="cursor: pointer; background-color: aquamarine; color: blue;">
  Click here !
</button>

<p *ngIf="color === 'blue'" style="color: rgb(30, 41, 201); font-size: 24px; font-weight: bold;">
  Rouge
</p>

<p *ngIf="color === 'red'" style="color: rgb(188, 31, 20); font-size: 24px; font-weight: bold;">
  blue
</p>

<h3>
  musique:
</h3>

<ul>
  <!-- On n'est obligé d'use le let dans ce cas précis -->
  <li *ngFor="let sound of sounds" style="list-style: none;">
    {{sound}}
  </li>
</ul>

<div appHighlight highlightColor="purple" style="color: white;" class="apphighlight">
  Fluo turbo Licorne !
</div>

<div appHighlight highlightColor="green" style="color: white;">
  Fluo turbo Licorne !
</div>
<div appHighlight highlightColor="burlywood" style="color: white;">
  Fluo turbo Licorne !
</div>

<div appHighlight highlightColor="cyan" style="color: white;">
  Fluo turbo Licorne !
</div>

<div appCoffee>Cliquez ici pour voir du café!</div>

<p appColor="">Ceci est un paragraphe avec une couleur personnalisée</p>
<p>Ceci est un autre paragraphe avec la couleur par défaut</p>

{{ "mArIo" | lowercase | uppercase }}
{{ "420" | currency: 'USD' }}

<div>

</div>

{{ "un truc osef" | freeze: "batman" }}

<div>

</div>

{{ "un texte de plus de 20 caractères avec les espaces, sorry" | summary }}